<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Proveedors <small>#_form</small></h1>
  </section>
<% end %>

<section class="content invoice">
  <p>Find me in app/views/proveedors/_form.html.erb</p>
</section>